<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'settings_global_menu.html' %}
<div class="row">
  <div class="col-12">
    {% if not form.instance.pk %}
    <h1>Add Color</h1>
    {% else %}
    <h1>Edit Color</h1>
    {% endif %}
    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
      <ol class="breadcrumb pt-0">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'settings:color_list' %}">Color</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add Color</li>
      </ol>
    </nav>
    <div class="separator mb-5"></div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">Basic</h5>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <input type="text" name="version_1" value="1">
          <input type="text" name="version_2" value="2">
          <button type="submit" class="btn btn-primary mb-0">Submit</button>
          <a href="{% url 'settings:color_list' %}" class="btn btn-danger mb-0">Cancel</a>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
