<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'suppliers_menu.html' %}
<div class="row">
  <div class="col-12 list">

    <div class="mb-2">
      <h1>{{ supplier.name }}</h1>

      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'suppliers:supplier_list' %}">Vendors</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'suppliers:supplier_detail' pk=supplier.pk %}">{{ supplier.name }}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'suppliers:order_list' pk=supplier.pk %}">Orders</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ order }}</li>
        </ol>
      </nav>
    </div>


    {% include 'suppliers/menu.html' %}
    <div class="tab-content">
      <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
        <div class="row">
          <div class="col-12 mb-4">
            <div class="tab-card mb-4">

              <div class="card-body">
                <h2>{{order}}</h2>
                {% include 'order/menu.html' %}
                <div class="row">
                  <div class="col-6">
                    {% if not form.instance.pk %}
                    <h5 class="card-title">Add Order Product</h5>
                    {% else %}
                    <h5 class="card-title">Edit Order Product</h5>
                    {% endif %}
                  </div>
                </div>
                <form method="POST"  enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form|crispy}}
                  <button type="submit" class="btn btn-primary mb-0">Submit</button>
                  <a href="{% url 'suppliers:orderproduct_list' order.pk %}" class="btn btn-danger mb-0">Cancel</a>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>
{% endblock %}
