<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}
<ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
  <li class="nav-item">
    <a class="nav-link {% if active_menu.menu3 == 'basic' %}active{% endif %}" href="{% url 'settings:category_list' %}">PRODUCT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_menu.menu3 == 'amazon' %}active{% endif %}" href="{% url 'settings:amazonmarket_list' %}">VENDOR</a>
  </li>
</ul>
<div class="row">
  <div class="col-12">
    <h1>Delete Category</h1>
    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
      <ol class="breadcrumb pt-0">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'settings:category_list' %}">Category</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Delete Category</li>
      </ol>
    </nav>
    <div class="separator mb-5"></div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">Delete Category</h5>
        <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input class='btn btn-danger' type="submit" value="Confirm" />
        <a href="{% url 'settings:category_list' %}" class="btn btn-info mb-0">Cancel</a>
      </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
