{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<body class="background show-spinner">
    <div class="fixed-background"></div>
    <main>
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-md-10 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side ">

                            <p class=" text-white h2">BAT System</p>

                            <p class="white mb-0">
                                Please enter all detail to SignUp.
                                <br>If you are already a member, please
                                <a href="{% url 'accounts:login' %}" class="white">login</a>.
                            </p>
                        </div>
                        <div class="form-side">
                            <h6 class="mb-4">Register</h6>
                            <form method="POST">
                              {% csrf_token %}
                              {{ form|crispy }}
                                <div class="d-flex justify-content-end align-items-center">
                                    <button class="btn btn-primary btn-lg btn-shadow" type="submit">REGISTER</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}
