{% extends "amazon_menu.html" %}
{% block content %}
<div class="row  ">
    <div class="col-12">
      <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#">PRIMARY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INVENTORIZE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SALES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PPC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CRITICAL</a>
        </li>
      </ul>

        <h1>Dashboard</h1>

        <div class="separator mb-5"></div>
    </div>
</div>
{% endblock %}
