<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BAT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'app/fonts/iconsmind/style.css'%}" />
    <link rel="stylesheet" href="{% static 'app/fonts/simple-line-icons/css/simple-line-icons.css'%}" />

    <link rel="stylesheet" href="{% static 'app/css/vendor/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/vendor/fullcalendar.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/vendor/dataTables.bootstrap4.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/vendor/datatables.responsive.bootstrap4.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/vendor/select2.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/vendor/perfect-scrollbar.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/vendor/owl.carousel.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/vendor/bootstrap-stars.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/vendor/nouislider.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/vendor/bootstrap-datepicker3.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/main.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/themes/dore.light.blue.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/css/vendor/bootstrap-float-label.min.css'%}" />
    <script src="{% static 'app/js/vendor/jquery-3.3.1.min.js'%}"></script>
</head>
{% block body %}
{% endblock %}

<script src="{% static 'app/js/vendor/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'app/js/vendor/Chart.bundle.min.js'%}"></script>
<script src="{% static 'app/js/vendor/chartjs-plugin-datalabels.js'%}"></script>
<script src="{% static 'app/js/vendor/moment.min.js'%}"></script>
<script src="{% static 'app/js/vendor/fullcalendar.min.js'%}"></script>
<script src="{% static 'app/js/vendor/datatables.min.js'%}"></script>
<script src="{% static 'app/js/vendor/perfect-scrollbar.min.js'%}"></script>
<script src="{% static 'app/js/vendor/owl.carousel.min.js'%}"></script>
<script src="{% static 'app/js/vendor/progressbar.min.js'%}"></script>
<script src="{% static 'app/js/vendor/jquery.barrating.min.js'%}"></script>
<script src="{% static 'app/js/vendor/select2.full.js'%}"></script>
<script src="{% static 'app/js/vendor/nouislider.min.js'%}"></script>
<script src="{% static 'app/js/vendor/bootstrap-datepicker.js'%}"></script>
<script src="{% static 'app/js/vendor/Sortable.js'%}"></script>
<script src="{% static 'app/js/vendor/mousetrap.min.js'%}"></script>
<script src="{% static 'app/js/vendor/ckeditor5-build-classic/ckeditor.js'%}"></script>
<script src="{% static 'app/js/dore.script.js'%}"></script>
<script src="{% static 'app/js/scripts.js'%}"></script>
{% block script %}
{% endblock %}
</html>
