<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load staticfiles %}
{% block content %}
{% include 'menu.html' %}
<div class="row">
  <div class="col-12 list">

    <div class="mb-2">
      <h1>{{ supplier.name }}</h1>

      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'suppliers:supplier_list' %}">Suppliers</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'suppliers:supplier_detail' pk=supplier.pk %}">{{ supplier.name }}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'suppliers:productprice_list' pk=supplier.pk %}">Product</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Delete Supplier Product</li>
        </ol>
      </nav>
    </div>


    {% include 'suppliers/menu.html' %}
    <div class="tab-content">
      <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Delete Supplier Product</h5>
              </div>
            </div>
            <form action="" method="post">{% csrf_token %}
              <p>Are you sure you want to delete "{{ object }}"?</p>
              <input class='btn btn-danger' type="submit" value="Confirm" />
              <a href="{% url 'suppliers:productprice_list' pk=supplier.pk %}" class="btn btn-info mb-0">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
