<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-12 list">

    <div class="mb-2">
      <h1>{{ product.title }}</h1>
      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'products:product_list' %}">Products</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
        </ol>
      </nav>
    </div>


    <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="first-tab" href="{% url 'products:product_detail' pk=product.pk %}">DETAILS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="first" aria-selected="true">PACKAGE MEASUREMENT</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane show active" id="second" role="tabpanel" aria-labelledby="second-tab">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Package Measurement</h5>
              </div>
              <div class="col-6">
                <div class="float-sm-right text-zero">
                  <a href="{% url 'products:create_packagemeasurement' pk=product.pk %}" class="btn btn-primary mr-1">Add Package Measurement</a>
                </div>
              </div>
            </div>

            <table class="data-table responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Length</th>
                  <th>Width</th>
                  <th>Depth</th>
                  <th>Weight</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for package in packagemeasurement_list %}
                <tr>
                  <td>
                    <p class="list-item-heading">{{ package.title }}</p>
                  </td>
                  <td>
                    <p class="text-muted">{{ package.length }} {{package.get_package_unit.length}}</p>
                  </td>
                  <td>
                    <p class="text-muted">{{ package.width }} {{package.get_package_unit.length}}</p>
                  </td>
                  <td>
                    <p class="text-muted">{{ package.depth }} {{package.get_package_unit.length}}</p>
                  </td>
                  <td>
                    <p class="text-muted">{{ package.weight }} {{package.get_package_unit.weight}}</p>
                  </td>
                  <td>
                    <a href="{% url 'products:update_packagemeasurement' pk=package.pk %}" class="btn btn-outline-info icon-button ">
                      <i class="simple-icon-pencil"></i>
                    </a>
                    <a href="{% url 'products:delete_packagemeasurement' pk=package.pk %}" class="btn btn-outline-danger icon-button ">
                      <i class="simple-icon-trash"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
