<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'suppliers_menu.html' %}
<div class="row">
  <div class="col-12 list">

    <div class="mb-2">
      <h1>{{ supplier.name }}</h1>

      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'suppliers:supplier_list' %}">Vendors</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'suppliers:supplier_detail' pk=supplier.pk %}">{{ supplier.name }}</a>
          </li>
          <li class="breadcrumb-item">
            {% if order.status.title == "Pending PO" %}
            <a href="{% url 'suppliers:pending_po_list' pk=supplier.pk %}">Pending PO</a>
            {% elif order.status.title == "Awaiting PI" %}
            <a href="{% url 'suppliers:pending_po_list' pk=supplier.pk %}">Awating PI</a>
            {% endif %}
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ order }}</li>
        </ol>
      </nav>
    </div>

      </div>
    </div>

    {% include 'suppliers/menu.html' %}
    <div class="tab-content">
      <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
        <div class="row">
          <div class="col-8">
            <h2>{{order}}</h2>
            <a href="{% url 'suppliers:pdf_generation' %}">Generate PDF</a>
          </div>
          <div class="col-4">
            <div class="text-right">
              <a class="btn btn-outline-primary btn-lg mr-1" data-toggle="collapse" href="#orderpo" role="button"
                                  aria-expanded="true" aria-controls="orderpo">Order PO</a>
              <a class="btn btn-outline-primary btn-lg mr-1" href="{% url 'suppliers:create_orderdelivery' pk=order.pk %}">Add Partial Delivery</a>
              {% if order.status.title == "Awaiting PI" or order.status.title == "Pending PO" %}
              <a href="{% url 'suppliers:update_order' pk=order.pk %}" class="btn btn-outline-info icon-button ">
                <i class="simple-icon-pencil"></i>
              </a>
              <a href="{% url 'suppliers:delete_order' pk=order.pk %}" class="btn btn-outline-danger icon-button ">
                <i class="simple-icon-trash"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="card mb-4 collapse" id="orderpo">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 text-right">
                    <img src="{{MEDIA_URL}}{{ company.image }}" class="img-fluid" style="width: 250px;" />
                  </div>
                  <div class="col-md-6">
                    <p class="mb-1">Org. No. {{company.org_number}}</p>
                    <p class="mb-1">VAT No. {{company.vat_number}}</p>
                    <p class="mb-1">{{company.email}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-6">
                    <h5 class="mb-2">{{order.supplier.name}} ({{order.supplier.alternate_name}})</h5>
                    <p class="mb-2">{{order.supplier.get_formatted_address|safe}}</p>
                    <p class="font-weight-bold mb-1">Contact</p>
                    <p class="mb-0">{{order.contact}}</p>
                    <p class="mb-0">{{order.contact.phone}}</p>
                    <p class="mb-3">{{order.contact.email}}</p>
                  </div>
                  <div class="col-sm-6 text-right">
                    <h5 class="mb-2">{{company.name}}</h5>
                    <p class="mb-2">{{company.get_formatted_address|safe}}</p>
                    <p class="font-weight-bold mb-1">Contact</p>
                    <p class="mb-0">{{order.user}}</p>
                    <p class="mb-0">{{order.user.phone}}</p>
                    <p class="mb-3">{{order.user.email}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Batch ID: {{order.batch_id}}</p>
                  </div>
                  <div class="col-md-6 text-right">
                    <span class="badge badge-pill badge-theme-1">{{order.status|upper}}</span>
                  </div>
                </div>
                <table class="table mt-3">
                  <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                  </tr>
                  {% for orderproduct in order.orderproduct_set.all %}
                  <tr>
                    <td>
                      {% if orderproduct.productprice.product.image %}
                      <img src="{{MEDIA_URL}}{{ orderproduct.productprice.product.image }}" class="img-fluid" style="width: 80px;" />
                      {% else %}
                      <img src="{{MEDIA_URL}}products/no-product-image.png" alt="{{ orderproduct.productprice.product.title }}" class="card-img-top" style="width: 80px;" />
                      {% endif %}
                    </td>
                    <td>
                      <p class="mb-3">{{orderproduct.productprice.product.title}}</p>
                      <p class="mb-1 text-muted text-small">AQL: {{orderproduct.aql.category.name}} {{orderproduct.aql.version}}</p>
                      <p class="mb-1 text-muted text-small">{{orderproduct.paymentterms}} (Deposit: {{orderproduct.paymentterms.deposit}}%, Days: {{orderproduct.paymentterms.payment_term}} days, Payment on delivery:
                        {{orderproduct.paymentterms.on_delivery}}%)</p>
                    </td>
                    <td>{{orderproduct.quantity}}</td>
                    <td>{{orderproduct.productprice.price|floatformat:"2"}} {{orderproduct.productprice.currency}}</td>
                    <td>{% widthratio orderproduct.productprice.price 1 orderproduct.quantity %} {{orderproduct.productprice.currency}}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td></td>
                    <td>
                      <p>Total</p>
                    </td>
                    <td>
                      <p class="mb-2">{{order.quantity}}</p>
                    </td>
                    <td></td>
                    <td>
                      <p class="mb-2">{{order.amount|floatformat:"2"}} {{order.currency}}</p>
                    </td>

                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <p>Deposit</p>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td>
                      <p class="mb-2">{{order.deposit_amount|floatformat:"2"}} {{order.currency}}</p>
                    </td>

                  </tr>
                </table>
                {% if order.note %}
                <p class="text-muted text-small mb-2">Order Note</p>
                <p class="mb-1">{{order.note}}</p>
                {% endif %}
                <hr class="mt-4">
                <h5 class="mb-4">Order Documentations</h5>
                <div class="row">
                  {% for orderfile in order.orderfile_set.all %}
                  {% if orderfile.title == "PO" %}
                  <div class="col-md-6">
                    <p class="mb-2">1. PO File</p>
                    <a href="{{MEDIA_URL}}{{ orderfile.file_url }}" target="_blank" class="btn btn-info icon-button ">
                      <i class="simple-icon-cloud-download"></i>
                    </a>
                  </div>
                  {% elif orderfile.title == "PI" %}
                  <div class="col-md-6">
                    <p class="mb-2">2. PI File</p>
                    <a href="{{MEDIA_URL}}{{ orderfile.file_url }}" target="_blank" class="btn btn-info icon-button ">
                      <i class="simple-icon-cloud-download"></i>
                    </a>
                    <a href="{% url 'suppliers:delete_orderfile' pk=orderfile.pk %}" class="btn btn-outline-danger icon-button">
                      <i class="simple-icon-trash"></i>
                    </a>
                  </div>
                  {% else %}
                  {% if order.status.title == "Awaiting PI" %}
                  <div class="col-md-6">
                    <p class="mb-2">2. PI File</p>
                    <div class="row">
                      <div class="col-sm-12">
                        <form class="" action="{% url 'suppliers:awaiting_pi' %}" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <input type="file" name="file_url" />
                          <input type="hidden" name="title" value="PI" />
                          <input type="hidden" name="order" value="{{order.pk}}">
                          <button type="submit" class="btn btn-primary btn-sm">Upload PI</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                </div>

                <hr class="mt-4">
                <div class="row">
                  <div class="col-md-6">
                    <p class="text-muted text-small mb-2">Created at</p>
                    <p class="mb-3">{{order.create_date| date:"d M Y h:i A"}}</p>
                  </div>
                  <div class="col-md-6 text-right">
                    <p class="text-muted text-small mb-2">Updated at</p>
                    <p class="mb-3">{{order.update_date| date:"d M Y h:i A"}}</p>
                  </div>
                </div>
                <div class="text-center mt-3">
                  {% if order.status.title == "Pending PO" %}
                  <form class="" action="{% url 'suppliers:confirm_po' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{order.pk}}">
                    <button type="submit" class="btn btn-primary">Confirm PO</button>
                  </form>
                  {% elif order.status.title == "Awaiting PI" %}
                  <form class="" action="{% url 'suppliers:activate_order' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{order.pk}}">
                    <button type="submit" class="btn btn-primary">Activate Order</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
            <h4 class="mb-3">Delivery Milestones</h4>

            <div class="row">
              <div class="col-md-6">
                {% for orderdelivery in orderdeliveries %}
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row align-items-center mb-3">
                      <div class="col-md-10">
                        <p class="mb-1 mt-2"><span class="color-theme-1 list-item-heading">{{orderdelivery.quantity}} Units</span> <span class="float-right">Date: {{orderpayment.date| date:"d M Y"}} Date: {{orderdelivery.date| date:"d M Y"}} <a data-toggle="collapse" href="#deliveryform{{orderdelivery.pk}}" role="button"
                                    aria-expanded="true" aria-controls="deliveryform{{orderdelivery.pk}}" class="text-info ml-2"><i class="simple-icon-pencil"></i></a></span></p>
                        <p class="mb-1 text-muted text-small">{{orderdelivery.batch_id}}</p>
                      </div>
                      <div class="col-md-2">
                        <div role="progressbar" class="progress-bar-circle position-relative" data-color="#922c88" data-trailColor="#d7d7d7" aria-valuemax="100" aria-valuenow="{{orderdelivery.share_percentage}}" data-show-percent="true">
                        </div>
                      </div>
                    </div>
                    <form class="collapse mb-3" id="deliveryform{{orderdelivery.pk}}" action="{% url 'suppliers:update_deliverydate' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="orderdelivery_id" value="{{orderdelivery.pk}}">
                      <div class="form-group">
                        <label for="">Select Delivery Date</label>
                        <input type="text" class="datepicker form-control" name="date" value="{{orderdelivery.date| date:"m/d/Y"}}" required />
                      </div>
                      <button type="submit" class="btn btn-primary mb-0">Submit</button>
                    </form>
                    {% for orderdeliveryproduct in orderdelivery.orderdeliveryproduct_set.all %}
                    <div class="row">
                      <div class="col-md-8">
                        <p class="mb-2">{{orderdeliveryproduct.orderproduct.productprice.product.title}}</p>
                      </div>
                      <div class="col-md-2">
                        <p class="mb-2">{{orderdeliveryproduct.quantity}} Units</p>
                      </div>
                    </div>
                    {% endfor %}
                    <hr>
                    {% for orderpayment in orderdelivery.orderpayment_set.all|dictsort:"date" %}
                    <div class="row align-items-center mb-3">
                      <div class="col-md-10">
                        <p class="mb-2 mt-2"><span class="color-theme-1 list-item-heading">{{orderpayment.invoice_amount}} {{orderpayment.invoice_currency}}</span> <span class="float-right">Date: {{orderpayment.date| date:"d M Y"}} <a data-toggle="collapse" href="#deliverypaymentform{{orderpayment.pk}}" role="button"
                                    aria-expanded="true" aria-controls="deliverypaymentform{{orderpayment.pk}}" class="text-info ml-2"><i class="simple-icon-pencil"></i></a></span></p>
                        {% if orderpayment.status.title == "Paid" %}
                        <p class="mb-2">Paid Amount: {{orderpayment.paid_amount}} {{orderpayment.paid_currency}} <span class="float-right"><a href="{{MEDIA_URL}}{{ orderpayment.pi_file }}" target="_blank" class="ml-2"><i class="simple-icon-cloud-download"></i> PI</a> <a href="{{MEDIA_URL}}{{ orderpayment.receipt_file }}" target="_blank" class="ml-2"><i class="simple-icon-cloud-download"></i> Receipt</a></span></p>
                        {% endif %}
                      </div>
                      <div class="col-md-2">
                        <div role="progressbar" class="progress-bar-circle position-relative" data-color="#922c88" data-trailColor="#d7d7d7" aria-valuemax="100" aria-valuenow="{{orderpayment.share_percentage}}" data-show-percent="true">
                        </div>
                      </div>
                    </div>
                    <form class="collapse mb-3" id="deliverypaymentform{{orderpayment.pk}}" action="{% url 'suppliers:update_deliverypayment' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="hidden" name="orderpayment_id" value="{{orderpayment.pk}}">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <select class="form-control" name="currency" required onchange="convertcurrency({{orderpayment.pk}},'{{orderpayment.invoice_currency}}','{{orderpayment.invoice_amount}}')">
                            {% for currency in all_currency %}
                            {% if currency == orderpayment.paid_currency %}
                            <option value="{{currency.pk}}" selected>{{currency.title}}</option>
                            {% else %}
                            <option value="{{currency.pk}}">{{currency.title}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                        <input type="number" step="0.01" min="0.01" readonly class="form-control" value="{{orderpayment.paid_amount}}" name="price" placeholder="Price" aria-label="price" aria-describedby="basic-addon1">
                      </div>
                      <div class="form-group">
                        <label for="">PI File</label>
                        <div class="">
                          <input type="file" name="pi_file" required />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="">Receipt File</label>
                        <div class="">
                          <input type="file" name="receipt_file" required />
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary mb-0">Submit</button>
                    </form>
                    {% endfor %}

                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Calendar</h5>
                    <div class="order-calendar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

{% endblock %}
{% block script %}
<script type="text/javascript">
  if ($().fullCalendar) {
    var testEvent = new Date(new Date().setHours(new Date().getHours()));
    var day = testEvent.getDate();
    var month = testEvent.getMonth() + 1;
    $(".order-calendar").fullCalendar({
      themeSystem: "bootstrap4",
      height: "auto",
      buttonText: {
        today: "Today",
        month: "Month",
        week: "Week",
        day: "Day",
        list: "List"
      },
      bootstrapFontAwesome: {
        prev: " simple-icon-arrow-left",
        next: " simple-icon-arrow-right",
        prevYear: "simple-icon-control-start",
        nextYear: "simple-icon-control-end"
      },
      events: [
        {% for orderpayment in orderpayments %}
        {
          title: "{{orderpayment.invoice_amount}} {{orderpayment.invoice_currency}}",
          start: "{{orderpayment.date| date:"Y-m-d"}}",
          color: "#c43d4b"
        },
        {% endfor %}
        {% for orderdelivery in orderdeliveries %}
        {
          title: "{{orderdelivery.quantity}} UNITS",
          start: "{{orderdelivery.date| date:"Y-m-d"}}"
        },
        {% endfor %}
      ]
    });
  }
  function convertcurrency(id,from_currency,amount){
    var to_currency = $("#deliverypaymentform"+id+" select[name='currency']").find("option:selected").text()
    if(to_currency == "RMB"){
      to_currency = "CNY";
    }
    if(from_currency == "RMB"){
      from_currency = "CNY";
    }
    $.ajax({
      dataType: "json",
      url: "https://api.exchangeratesapi.io/latest?base="+from_currency+"&symbols="+to_currency,
      success: function(result){
        var result_value = ((result.rates[to_currency])*amount).toFixed();
        $("#deliverypaymentform"+id+" input[name='price']").val(result_value);
      }
    });
  }
</script>
{% endblock %}
