<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'shipping_menu.html' %}
<div class="row">
  <div class="col-12 list">
    <div class="mb-2">
      {% if not form.instance.pk %}
      <h1>Create Shipment</h1>
      {% else %}
      <h1>Update Shipment</h1>
      {% endif %}

      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'shipping:shipment_list' %}">Shipment</a>
          </li>
          {% if not form.instance.pk %}
          <li class="breadcrumb-item active" aria-current="page">Create Shipment</li>
          {% else %}
          <li class="breadcrumb-item active" aria-current="page">Update Shipment</li>
          {% endif %}
        </ol>
      </nav>
    </div>
    <div class="tab-content">
      <div class="tab-pane show active" id="second" role="tabpanel" aria-labelledby="second-tab">
        <div class="tab-card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Shipment</h5>
              </div>
            </div>
            <form method="POST" autocomplete="off">
              {% csrf_token %}
              <div class="row form-row">
                <div class="col-md-12">
                  {{ form.invoice_agent|as_crispy_field }}
                </div>
              </div>
              <div class="row form-row">
                <div class="col-md-3">
                  {{ form.invoice_value|as_crispy_field }}
                </div>
                <div class="col-md-3">
                  {{ form.invoice_currency|as_crispy_field }}
                </div>
                <div class="col-md-3">
                  {{ form.kg_cbm_price|as_crispy_field }}
                </div>
                <div class="col-md-3">
                  {{ form.currency|as_crispy_field }}
                </div>
              </div>
              <div class="row form-row">
                <div class="col-md-3">
                  {{ form.pickup_date|as_crispy_field }}
                </div>
                <div class="col-md-3">
                  {{ form.eta|as_crispy_field }}
                </div>
                <div class="col-md-3">
                  {{ form.etd|as_crispy_field }}
                </div>
                <div class="col-md-3">
                  {{ form.bol_number|as_crispy_field }}
                </div>
              </div>
              <div class="row form-row">
                <div class="col-md-3">
                  {{ form.is_prepaid_vat|as_crispy_field }}
                </div>
                <div class="col-md-3">
                  {{ form.prepaid_vat|as_crispy_field }}
                </div>
              </div>
              
              <button type="submit" class="btn btn-primary mb-0">Submit</button>
              {% if not form.instance.pk %}
              <a href="{% url 'shipping:shipment_list' %}" class="btn btn-danger mb-0">Cancel</a>
              {% else %}
              <a href="{% url 'shipping:shipment_detail' pk=form.instance.pk %}" class="btn btn-danger mb-0">Cancel</a>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
  function change_prepaid_vat(val){
    if(val == "Yes"){
      $("#id_prepaid_vat").show();
      $("#id_prepaid_vat").val("");
    }else{
      $("#id_prepaid_vat").hide();
      $("#id_prepaid_vat").val(0);
    }
  }
  {% if form.instance.prepaid_vat == 0.00 %}
  $("select[name='is_prepaid_vat']").val("No");
  $("#id_prepaid_vat").hide();
  {% endif %}
</script>
{% endblock %}
