<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load staticfiles %}
{% block content %}
{% include 'shipping_menu.html' %}
<div class="row">
  <div class="col-12 list">

    <div class="mb-2">
      <h1>{{ shipment.name }}</h1>
      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'shipping:shipment_list' %}">Shipment</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ shipment.name }}</li>
        </ol>
      </nav>
    </div>

   {% include 'shipment/menu.html' %}
    <div class="tab-content">
      <div class="tab-pane show active" id="second" role="tabpanel" aria-labelledby="second-tab">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Shipment Files</h5>
              </div>
              <div class="col-6">

              </div>
            </div>

            <table class="data-table responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>File</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for shipmentfiles in shipmentfiles_list %}
                <tr>
                  <td>
                    <p class="list-item-heading">{{ shipmentfiles.title }}</p>
                  </td>
                  <td>
                    <a href="{{MEDIA_URL}}{{ shipmentfiles.file_url }}" target="_blank" class="btn btn-info icon-button ">
                      <i class="simple-icon-cloud-download"></i>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'shipping:delete_shipmentfiles' pk=shipmentfiles.pk %}" class="btn btn-outline-danger icon-button ">
                      <i class="simple-icon-trash"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
