<!DOCTYPE html>
{% extends "amazon_menu.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <h1>MarketPlaces</h1>
      <div class="float-sm-right text-zero">
        <a href="{% url 'settings:create_amazonmarket' %}" class="btn btn-primary btn-lg mr-1">Add MarketPlaces</a>
      </div>
      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">MarketPlaces</li>
        </ol>
      </nav>

    </div>
    <div class="separator mb-5"></div>
  </div>
</div>

<div class="row">
  <div class="col-12 list">
    <div class="card h-100">
      <div class="card-body">
        <table class="data-table responsive nowrap" data-order="[[ 0, &quot;asc&quot; ]]">
          <thead>
            <tr>
              <th>Identifier</th>
              <th>Name</th>
              <th>Domain</th>
              <th>Amazon ID</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for amazonmarket in amazonmarket_list %}
            <tr>
              <td>
                <p class="list-item-heading">{{ amazonmarket.region }}</p>
              </td>
              <td>
                <p class="list-item-heading">{{ amazonmarket.name }} ({{ amazonmarket.country_code }})</p>
              </td>
              <td>
                <p class="list-item-heading">{{ amazonmarket.domain }}</p>
              </td>
              <td>
                <p class="list-item-heading">{{ amazonmarket.amazon_id }}</p>
              </td>
              <td>
                <a href="{% url 'settings:update_amazonmarket' pk=amazonmarket.pk %}" class="btn btn-outline-info icon-button ">
                  <i class="simple-icon-pencil"></i>
                </a>
                <a href="{% url 'settings:delete_amazonmarket' pk=amazonmarket.pk %}" class="btn btn-outline-danger icon-button ">
                  <i class="simple-icon-trash"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
