<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load staticfiles %}
{% block content %}
{% include 'suppliers_menu.html' %}
<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <h1>Shipping Box</h1>
      <div class="float-sm-right text-zero">
        <a href="{% url 'settings:create_box' %}" class="btn btn-primary btn-lg mr-1">Add Shipping Box</a>
      </div>
      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Shipping Box</li>
        </ol>
      </nav>

    </div>
    <div class="separator mb-5"></div>
  </div>
</div>

<div class="row">
  <div class="col-12 list">
    <div class="card h-100">
      <div class="card-body">
        <table class="data-table responsive nowrap" data-order="[[ 0, &quot;asc&quot; ]]">
          <thead>
            <tr>
              <th>Title</th>
              <th>Length</th>
              <th>Width</th>
              <th>Depth</th>
              <th>CBM</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for box in box_list %}
            <tr>
              <td>
                <p class="list-item-heading">{{ box.title }}</p>
              </td>
              <td>
                <p class="list-item-heading">{{ box.length }} cm</p>
              </td>
              <td>
                <p class="list-item-heading">{{ box.width }} cm</p>
              </td>
              <td>
                <p class="list-item-heading">{{ box.depth }} cm</p>
              </td>
              <td>
                <p class="list-item-heading">{{ box.cbm }}</p>
              </td>
              <td>
                <a href="{% url 'settings:update_box' pk=box.pk %}" class="btn btn-outline-info icon-button ">
                  <i class="simple-icon-pencil"></i>
                </a>
                <a href="{% url 'settings:delete_box' pk=box.pk %}" class="btn btn-outline-danger icon-button ">
                  <i class="simple-icon-trash"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
