<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load staticfiles %}
{% block content %}
{% include 'suppliers_menu.html' %}
<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <h1>Vendors</h1>
      <div class="float-sm-right text-zero">
        <a href="{% url 'suppliers:create_supplier' %}" class="btn btn-primary btn-lg mr-1">Add Vendor</a>
      </div>
      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Vendors</li>
        </ol>
      </nav>

    </div>

    <div class="mb-2">
      <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions" role="button" aria-expanded="true" aria-controls="displayOptions">
        Display Options
        <i class="simple-icon-arrow-down align-middle"></i>
      </a>
      <div class="collapse d-md-block" id="displayOptions">
        <span class="mr-3 mb-2 d-inline-block float-md-left">
          <a href="javascript:void()" onclick="itemview_formsubmit('list_view')" class="mr-2 view-icon {% if item_view == 'list_view' %}active{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
              <path class="view-icon-svg" d="M17.5,3H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z"></path>
              <path class="view-icon-svg" d="M3,2V3H1V2H3m.12-1H.88A.87.87,0,0,0,0,1.88V3.12A.87.87,0,0,0,.88,4H3.12A.87.87,0,0,0,4,3.12V1.88A.87.87,0,0,0,3.12,1Z"></path>
              <path class="view-icon-svg" d="M3,9v1H1V9H3m.12-1H.88A.87.87,0,0,0,0,8.88v1.24A.87.87,0,0,0,.88,11H3.12A.87.87,0,0,0,4,10.12V8.88A.87.87,0,0,0,3.12,8Z"></path>
              <path class="view-icon-svg" d="M3,16v1H1V16H3m.12-1H.88a.87.87,0,0,0-.88.88v1.24A.87.87,0,0,0,.88,18H3.12A.87.87,0,0,0,4,17.12V15.88A.87.87,0,0,0,3.12,15Z"></path>
              <path class="view-icon-svg" d="M17.5,10H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z"></path>
              <path class="view-icon-svg" d="M17.5,17H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z"></path>
            </svg>
          </a>
          <a href="javascript:void()" onclick="itemview_formsubmit('thumb_view')" class="mr-2 view-icon {% if item_view == 'thumb_view' %}active{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
              <path class="view-icon-svg" d="M7,2V8H1V2H7m.12-1H.88A.87.87,0,0,0,0,1.88V8.12A.87.87,0,0,0,.88,9H7.12A.87.87,0,0,0,8,8.12V1.88A.87.87,0,0,0,7.12,1Z"></path>
              <path class="view-icon-svg" d="M17,2V8H11V2h6m.12-1H10.88a.87.87,0,0,0-.88.88V8.12a.87.87,0,0,0,.88.88h6.24A.87.87,0,0,0,18,8.12V1.88A.87.87,0,0,0,17.12,1Z"></path>
              <path class="view-icon-svg" d="M7,12v6H1V12H7m.12-1H.88a.87.87,0,0,0-.88.88v6.24A.87.87,0,0,0,.88,19H7.12A.87.87,0,0,0,8,18.12V11.88A.87.87,0,0,0,7.12,11Z"></path>
              <path class="view-icon-svg" d="M17,12v6H11V12h6m.12-1H10.88a.87.87,0,0,0-.88.88v6.24a.87.87,0,0,0,.88.88h6.24a.87.87,0,0,0,.88-.88V11.88a.87.87,0,0,0-.88-.88Z"></path>
            </svg>
          </a>
        </span>
        <div class="d-block d-md-inline-block">

          <div class="btn-group float-md-left mr-1 mb-1">
            <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Order By
            </button>
            <div class="dropdown-menu">
              {% for order_value, order_text in order_by_list %}
              {% if order_value == order_by %}
              <a class="dropdown-item active" href="javascript:void()">{{order_text}}</a>
              {% else %}
              <a class="dropdown-item" onclick="orderby_formsubmit('{{order_value}}')" href="javascript:void()">{{order_text}}</a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
            <form action="." method="get" name="data_control">
              <input type="hidden" name="order_by" value="{{order_by}}" />
              <input type="hidden" name="paginate_by" value="{{paginator.per_page}}" />
              <input type="hidden" name="category_q" value="{{category_q}}" />
              <input type="hidden" name="item_view" value="{{item_view}}" />
              <input type="text" name="search_q" value="{{search_q}}" placeholder="Search...">
            </form>
          </div>
          <input type="hidden" id="ajax_url" load-display-categories-url="{% url 'suppliers:ajax_load_display_category' %}" />
          <div class="d-inline-block float-md-left mr-1 mb-1 align-top">
            <a href="{% url 'suppliers:supplier_list' %}" class="btn btn-xs btn-outline-primary mb-1">View All</a>
          </div>
          <div class="d-inline-block float-md-left mr-1 mb-1 align-top" id="category_block">

          </div>
        </div>
        <div class="float-md-right">
          <span class="text-muted text-small">Displaying
            {% if page_obj.has_previous %}
            {% widthratio paginator.per_page 1 page_obj.previous_page_number %}{% else %}1{% endif %}-{% widthratio paginator.per_page 1 page_obj.number %}
            of {{paginator.count}} items </span>
          <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{paginator.per_page}}
          </button>

          <div class="dropdown-menu dropdown-menu-right">
            {% for paginate_number in paginate_list %}
            {% if paginator.per_page == paginate_number %}
            <a class="dropdown-item active" href="javascript:void()">{{paginate_number}}</a>
            {% else %}
            <a class="dropdown-item" onclick="pagination_formsubmit({{paginate_number}})" href="javascript:void()">{{paginate_number}}</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="separator mb-5"></div>
  </div>
</div>
{% if item_view == "thumb_view" %}
<div class="row">
  {% for supplier in supplier_list %}
  <div class="col-12 col-lg-6 col-xl-4 mb-3">
    <div class="card flex-row cursor-pointer" onclick="window.open('{% url 'suppliers:supplier_detail' pk=supplier.pk %}','_self')">
      <div class="w-40">
        <img class="card-img-left" src="{{MEDIA_URL}}{{ supplier.logo }}" alt="{{ supplier.name }}">
        <span class="badge badge-pill badge-primary position-absolute badge-top-left">{{ supplier.category.name }}</span>
      </div>
      <div class="w-60">
        <div class="card-body">
          <h6><a href="{% url 'suppliers:supplier_detail' pk=supplier.pk %}">{{ supplier.name }}</a></h6>
          <p class="mb-2">{{ supplier.alternate_name }}</p>
          <p class="mb-3">{{supplier.get_formatted_address}}</p>
          <footer>
            <p class="text-muted text-small mb-0 font-weight-light">{{ supplier.create_date|date:"d M Y"}}</p>

          </footer>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="row">
  <div class="col-12 list" data-check-all="checkAll">

    {% for supplier in supplier_list %}
    <div class="card d-flex flex-row mb-3 cursor-pointer" onclick="window.open('{% url 'suppliers:supplier_detail' pk=supplier.pk %}','_self')">
      <a class="d-flex" href="{% url 'suppliers:supplier_detail' pk=supplier.pk %}">
        <img src="{{MEDIA_URL}}{{ supplier.logo }}" alt="{{ supplier.title }}" class="list-thumbnail responsive border-0" />
      </a>
      <div class="pl-2 d-flex flex-grow-1 min-width-zero">
        <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
          <a href="{% url 'suppliers:supplier_detail' pk=supplier.pk %}" class="w-40 w-sm-100">
            <p class="list-item-heading mb-1 truncate">{{ supplier.name }}</p>
          </a>
          <p class="mb-1 text-muted text-small w-25 w-sm-100">{{ supplier.category }}</p>
          <p class="mb-1 text-muted text-small w-15 w-sm-100">{{ supplier.create_date|date:"d M Y"}}</p>
          <div class="w-15 w-sm-100">
            <span class="badge badge-pill"></span>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<!-- Pagination start -->
{% if is_paginated %}
<div class="row">
  <div class="col-12">
    <nav class="mt-4 mb-3">
      <ul class="pagination justify-content-center mb-0">

        {% if page_obj.has_previous %}
        <li class="page-item ">
          <a class="page-link prev" href="?page={{ page_obj.previous_page_number }}&{{extra_url}}">
            <i class="simple-icon-arrow-left"></i>
          </a>
        </li>
        {% else %}
        <li class="page-item active">
          <a class="page-link prev" href="#">
            <i class="simple-icon-arrow-left"></i>
          </a>
        </li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ i }}</a>
        </li>
        {% else %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ i }}&{{extra_url}}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item ">
          <a class="page-link next" href="?page={{ page_obj.next_page_number }}&{{extra_url}}" aria-label="Next">
            <i class="simple-icon-arrow-right"></i>
          </a>
        </li>
        {% else %}
        <li class="page-item active">
          <a class="page-link next" href="#">
            <i class="simple-icon-arrow-right"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}

<script type="text/javascript">
  function pagination_formsubmit(paginate_number) {
    document.getElementsByName('paginate_by')[0].setAttribute("value", paginate_number);
    document.data_control.submit();
  }

  function orderby_formsubmit(order_by) {
    document.getElementsByName('order_by')[0].setAttribute("value", order_by);
    document.data_control.submit();
  }

  function itemview_formsubmit(item_view) {
    document.getElementsByName('item_view')[0].setAttribute("value", item_view);
    document.data_control.submit();
  }

  function search_formsubmit() {
    document.data_control.submit();
  }

  function load_display_categories(category, parent = "", active = "") {
    if (category != '') {
      var url = $("#ajax_url").attr("load-display-categories-url");
      $.ajax({
        url: url,
        data: {
          'category': category,
          'active': active
        },
        success: function(data) {
          if (data.trim() != "") {
            $("#category_block").html(data);
          } else {
            document.getElementsByName('category_q')[0].setAttribute("value", category);
            document.data_control.submit();
          }
        }
      })
    }
  }
  $(document).ready(function() {
    {% if category_q_parent %}
    load_display_categories({{category_q_parent}}, "", {{category_q}});
    {% endif %}
  });
</script>
{% endblock %}
