<ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
  <li class="nav-item">
    <a class="nav-link {% if active_menu.menu3 == 'suppliers' %}active{% endif %}" href="{% url 'suppliers:supplier_list' %}">SUPPLIER</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_menu.menu3 == 'category' %}active{% endif %}" href="{% url 'suppliers:category_list' %}">CATEGORY</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_menu.menu3 == 'paymentterms' %}active{% endif %}" href="{% url 'suppliers:paymentterms_list' %}">PAYMENT TERMS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_menu.menu3 == 'status' %}active{% endif %}" href="{% url 'suppliers:status_list' %}">STATUS</a>
  </li>
</ul>
