<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <h1>Status</h1>
      <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Status</li>
        </ol>
      </nav>

    </div>
    <div class="separator mb-5"></div>
  </div>
</div>

<div class="row">
  <div class="col-12 list">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} rounded" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <input type="hidden" id="ajax_url" load-display-status-url="{% url 'settings:ajax_load_display_status' %}" />
    <div id="status_block" class="mt-1">

    </div>
  </div>
</div>
<div class="modal fade modal-right" id="addstatus" tabindex="-1" role="dialog" aria-labelledby="addstatus" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add-status-form" method="post" action="{% url 'settings:ajax_add_status' %}">
          {% csrf_token %}
          <input type="hidden" name="parent_id" value="" id="parent_id" />
          <input type="hidden" name="status_id" value="" id="status_id" />
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Status name" required>
          </div>
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function load_display_status(status, parent = "", active = "") {
    var url = $("#ajax_url").attr("load-display-status-url");
    $.ajax({
      url: url,
      data: {
        'status': status,
        'active': active
      },
      success: function(data) {
        $("#status_block").html(data);
          $("#parent_id").val(status);
      }
    })
  }
  load_display_status("", "", "");

  function add_status() {
    var url = $("#ajax_url").attr("add-status-url");
    $.ajax({
      url: url,
      data: {
        'parent_id': 1,
        'name': "sss"
      },
      success: function(data) {
        if (data.trim() != "") {
          $("#status_block").html(data);
        }
      }
    })
  }
  $("#add-status-form").submit(function(e) {
    var form = $(this);
    var url = form.attr('action');

    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(),
           success: function(data)
           {
               if(data.success){
                 $('#addstatus').modal('hide');
                 form[0].reset();
                 load_display_status(data.parent_id, "", "");
               }
           }
         });
    e.preventDefault();
  });
  function addstatus(){
    $('#addstatus h5.modal-title').html("Add Status");
    $('#addstatus').modal('show');
    $('input[name="name"]').val("");
    $('input[name="status_id"]').val("");
  }
  function editstatus(cat_id,cat_name){
    $('#addstatus h5.modal-title').html("Edit Status");
    $('#addstatus').modal('show');
    $('input[name="name"]').val(cat_name);
    $('input[name="status_id"]').val(cat_id);
  }
</script>
{% endblock %}
