<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-12">
    {% if not form.instance.pk %}
    <h1>Add Product</h1>
    {% else %}
    <h1>Edit Product</h1>
    {% endif %}
    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
      <ol class="breadcrumb pt-0">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'products:product_list' %}">Products</a>
        </li>
        {% if not form.instance.pk %}
        <li class="breadcrumb-item active" aria-current="page">Add Product</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
        {% endif %}
      </ol>
    </nav>
    <div class="separator mb-5"></div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">Basic</h5>
        <form method="POST" enctype="multipart/form-data">
          <div id="ajax_url" load-categories-url="{% url 'products:ajax_load_category' %}"></div>
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="btn btn-primary mb-0">Submit</button>
          {% if not form.instance.pk %}
          <a href="{% url 'products:product_list' %}" class="btn btn-danger mb-0">Cancel</a>
          {% else %}
          <a href="{% url 'products:product_detail' pk=form.instance.pk %}" class="btn btn-danger mb-0">Cancel</a>
          {% endif %}
        </form>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function load_categories(category, parent = "") {
    $("#id_category" + parent).nextAll().remove();
    if (category != '') {
      var url = $("#ajax_url").attr("load-categories-url");
      $.ajax({
        url: url,
        data: {
          'category': category
        },
        success: function(data) {
          $("#id_category" + parent).after(data);
        }
      })
    }
  }
  function edit_categories(){
    /*alert("dddd");*/
  }
  {% if form.instance.pk %}
  edit_categories();
  {% endif %}
</script>
{% endblock %}
