<!DOCTYPE html>
{% extends "base_menu.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'products_menu.html' %}
<div class="row">
  <div class="col-12">
    <h1>Delete Color</h1>
    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
      <ol class="breadcrumb pt-0">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'products:color_list' %}">Color</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Delete Color</li>
      </ol>
    </nav>
    <div class="separator mb-5"></div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">Delete Color</h5>
        <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input class='btn btn-danger' type="submit" value="Confirm" />
        <a href="{% url 'products:color_list' %}" class="btn btn-info mb-0">Cancel</a>
      </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
